@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IEnumerable<EntitiyLayer.Concrete.Notification>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Owner/Views/Shared/OwnerLayout.cshtml";
}

@foreach(var x in Model){
        <div class="callout callout-info">
      <h5><i class="@x.NotificationTypeSymbol" style="color:@x.NotificationColor; padding-right:4px;"></i>@x.NotificationType :</h5>
        <p>
            @x.NotificationDetails

        </p> 
                <p style="text-align:right; font-weight:bold; color:indianred;">@(((DateTime)x.NotificationDate).ToString("dd MMMMM yyyy"))</p>
    </div>
}

 <br />


@Html.PagedListPager((IPagedList)Model, page=>Url.Action("Index", new{page = page}),
      new PagedListRenderOptions(){

         ContainerDivClasses=new[] {"navigation"},
         LiElementClasses=new [] {"page-item"},
         PageClasses =new[] {"page-link"},
      })


