
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


    <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>@ViewBag.temperature°C</h3>

                <p>İstanbul</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-cloud"></i>
              </div>
            @* <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
            </div>
          </div>

        </div>


  <div class="row">


          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="fa-solid fa-bars"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Kategoriler</span>
                <span class="info-box-number">@ViewBag.category</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->


          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-success"><i class="fa-solid fa-layer-group"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Markalar</span>
                <span class="info-box-number">@ViewBag.brand</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->


          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="fa-solid fa-list"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Seriler</span>
                <span class="info-box-number">@ViewBag.series</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->


          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-danger"><i class="fa-solid fa-paperclip"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Modeller</span>
                <span class="info-box-number">@ViewBag.model</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>

<div class="row">

      <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="fa-solid fa-car-rear"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Araçlar</span>
                <span class="info-box-number">@ViewBag.vehicle</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

     <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-danger"><i class="fa-regular fa-user"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Kullanıcılar</span>
                <span class="info-box-number">@ViewBag.user</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Mesajlar</span>
                <span class="info-box-number">@ViewBag.message</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->


          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-success"><i class="fa-regular fa-bell"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Bildirimler</span>
                <span class="info-box-number">@ViewBag.notification</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

         
        </div>




