@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IEnumerable<EntitiyLayer.Concrete.Brand>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Marka Listesi <a href="~/Admin/Brand/AddBrand" class="btn btn-primary" style="float:right;">Yeni Marka Ekle</a></h2>

<table class="table table-bordered">
<tr>
    <th>#</th>
    <th>Marka Adı</th>
    <th>Kategorisi</th>
    <th>Durum</th>
    <th>Pasif Yap</th>
    <th>Aktif Yap</th>
    <th>Düzenle</th>

</tr>
    @foreach (var x in Model)
    {
            <tr>
            <td style="font-weight: bold;">@x.BrandID</td>
            <td>@x.BrandName</td>
            <td>@x.Category.CategoryName</td>
            @if (x.BrandStatus == true)
            {
             <td style="background-color:green; color:white">@x.BrandStatus</td>
            }
            else
            {
            <td style="background-color:red; color:white">@x.BrandStatus</td>
            }

             <td><a href="~/Admin/Brand/PassiveBrand/@x.BrandID" onclick="return confirm('Pasif durumuna getirmek istediğinizden emin misiniz?')"  class="btn btn-danger">Pasif Yap</a></td>
            <td><a href="~/Admin/Brand/ActiveBrand/@x.BrandID" onclick="return confirm('Aktif durumuna getirmek istediğinizden emin misiniz?')"  class="btn btn-success">Aktif Yap</a></td>
           <td><a href="~/Admin/Brand/UpdateBrand/@x.BrandID" class="btn btn-warning">Düzenle</a></td>
            </tr>   
    }
 </table>

 <br />


@Html.PagedListPager((IPagedList)Model, page=>Url.Action("Index", new{page = page}),
      new PagedListRenderOptions(){

         ContainerDivClasses=new[] {"navigation"},
         LiElementClasses=new [] {"page-item"},
         PageClasses =new[] {"page-link"},
      })

