@model EntitiyLayer.Concrete.Brand
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Marka Güncelleme</h2>
@using (Html.BeginForm("UpdateBrand", "Brand", FormMethod.Post))
{
    @Html.Label("Marka ID")
    @Html.TextBoxFor(x=>x.BrandID, new{@class="form-control", @readonly = true})

    @Html.Label("Marka Adı")
    @Html.TextBoxFor(x=>x.BrandName, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.BrandName,"" ,new {@class ="text-danger"})
            <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.cv, new{@class="form-control"})
    
 <br />
 <button class="btn btn-success">Markayı Güncelle</button>

}

