@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IEnumerable<EntitiyLayer.Concrete.Category>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<h2>Kategori Listesi <a href="~/Admin/Category/AddCategory" class="btn btn-primary" style="float:right;">Yeni Kategori Ekle</a></h2>

<table class="table table-bordered">
<tr>
    <th>#</th>
    <th>Kategori Adı</th>
    <th>Açıklama</th>
    <th>Durum</th>
    <th>Pasif Yap</th>
    <th>Aktif Yap</th>
    <th>Düzenle</th>
   
</tr>
@foreach (var x in Model)
{
    <tr>
            <td style="font-weight: bold;">@x.CategoryID</td>
        <td>@x.CategoryName</td>
        <td>@x.CategoryDescription</td>
        @if(x.CategoryStatus==true){
             <td style="background-color:green; color:white">@x.CategoryStatus</td>
        }
        else
            {
                      <td style="background-color:red; color:white">@x.CategoryStatus</td>
            }
        
            <td><a href="~/Admin/Category/PassiveCategory/@x.CategoryID" onclick="return confirm('Pasif durumuna getirmek istediğinizden emin misiniz?')"  class="btn btn-danger">Pasif Yap</a></td>
            <td><a href="~/Admin/Category/ActiveCategory/@x.CategoryID" onclick="return confirm('Aktif durumuna getirmek istediğinizden emin misiniz?')"  class="btn btn-success">Aktif Yap</a></td>
        <td><a href="~/Admin/Category/UpdateCategory/@x.CategoryID" class="btn btn-warning">Düzenle</a></td>
    </tr>   
}
 </table>

        <br />


@Html.PagedListPager((IPagedList)Model, page=>Url.Action("Index", new{page = page}),
      new PagedListRenderOptions(){

         ContainerDivClasses=new[] {"navigation"},
         LiElementClasses=new [] {"page-item"},
         PageClasses =new[] {"page-link"},
      })

